// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 3 times
@color1: #333333; // Appears 2 times
@color2: #fff000; // Appears 2 times


html {
	margin:0;
	padding:0;
}
body {
	background: @color1;
	color: @color0;
	margin:0;
	padding:0;
}
#logo{
	background: url("../img/logo.jpg") 0 0 no-repeat;
	height: 155px;
    width: 351px;
    margin-left: auto;
    margin-right: auto;
}
.line {
	border-top: 1px solid white;

	&.left {
		margin-left: 100px;
	}
	&.right {
		margin-right: 100px;
	}
}

label {
	padding-right: 20px;
}
select {
	color: black;
	padding: 3px;
}
input[type=submit] {
	background: @color0;
	border: 0;
	color: @color1;
	padding: 10px 90px;
}


.row {
	margin-bottom: 10px;
	margin-top: 10px;
}
.footerNav {
	margin: 0 auto;
	width: 200px;
}
nav {
	list-style: none;
	overflow: hidden;
	a {
		border-right: 1px solid @color0;
		float: left;
		padding-left: 10px;
		padding-right: 10px;
		&:last-child {
			border:0;
		}
	}
}
.state {
	text-align: center;
}
.message {
	text-align: center;
}

a{
	color: @color0;
	&:hover{
		color: @color2;
	}
}